numpy
pandas
scikit-learn
scipy
torch
torchvision

opencv-python-headless
Pillow
scikit-image
plantcv

matplotlib
fastapi
uvicorn[standard]
python-dotenv
python-multipart

boto3
psycopg2-binary
pyyaml

transformers

sqlalchemy
alembic
pymysql
cryptography

kornia
timm

ultralytics

celery
redis

requests
httpx